.toolbar {
  background-color: #1a1c23;
}


.toolbar button {
  background-color: #1a1c23;
  border-bottom-color: #1a1c23;
}

.toolbar button.inactive {
  color: #bfb8f0;
}

.toolbar button.active {
  color: #bfb8f0;
}

#slidebar {
  background-color: #1a1c23;
}

#slidebar i {
  border-bottom-color: #1a1c23;
  color: #bfb8f0;
}

#slidebar a {
  color: #bfb8f0;
}

#modal-editor .file-path {
  border-color: #1a1c23;
}

#modal-editor .modal-footer {
  background-color: #1a1c23;
  color: #bfb8f0;
}

.toolbar button.active:hover {
  background-color: #5a4fcf;
  border-bottom-color: #5a4fcf;
}

#slidebar i:hover {
  background-color: #5a4fcf;
  border-bottom-color: #5a4fcf;
}

#history .dropdown-menu {
  background-color: #1a1c23;
  border-left-color: #6f65dc;
}

#history button {
  background-color: #6f65dc;
  color: #ffffff;
}

#history ul li:hover {
  background-color: #5a4fcf;
}

#breadcrumb {
  background-color: #5a4fcf;
}

#modal-editor .file-path {
  background-color: #5a4fcf;
  color: #d5d5d5;
}

#files .ui-selecting, #files .ui-selected {
  background-color: #1a1c23;
}

#files .ui-selecting:first-child, #files .ui-selected:first-child {
  border-top-color: #5a4fcf;
}

#files td.icon .fa-folder, #files td.icon .fa-level-up {
  color: #6f65dc;
}

#files td.icon i {
  color: #6f65dc;
}

#modal-transfers .icon i {
  color: #6f65dc;
}

.dropdown-menu li a:hover, .dropdown-menu .active a:hover {
  background-color: #6f65dc;
}

.toolbar .logo {
    background: url(https://cdn.spookhost.xyz/SpookhostMonsta.png) no-repeat center center;
    background-size: 250.56px 57.42px;
    height: 57.42px;
    width: 250.56px;
}

@media (max-width:1000px) {
  .toolbar .logo {
    background: url('https://spookhost.xyz/assets/img/logo.png') no-repeat center center;
    background-size: 144px [cp18h];
    background-position: -26px;
    width: 29px;
  }
}

#modal-editor .modal-footer .logo {
  background: url('https://spookhost.xyz/assets/img/logo.png') no-repeat center center;
  background-size: 100px 23px;
  height: 23px;
  width: 100px;
}

@media (max-width:1000px) {
  #modal-editor .modal-footer .logo {
    background: url('https://spookhost.xyz/assets/img/logo.png') no-repeat center center;
    background-size: 100px [cp19h];
    background-position: -17px;
    width: 23px;
  }
}

.label-warning {
  background-color: #5a4fcf;
  color: #ffffff;
  
}

.btn-primary {
  background-color: #6f65dc;
  color: #ffffff;
}

body {
  background-color: #1a1c23;
}


input {
    background-color: #333;
    border: 2px solid #ffffff3d;
    border-radius: 10px;
    color: white!important;
}

.modal-body, .modal-footer {
    background: #1a1c23;
}

button.btn.btn-default.float-left.ng-scope {
    color: white;
    background: #1a1c23;
}


tr.context-catcher-tr.ng-scope.tr-even {
    background-color: #000000!important;
}
tr.context-catcher-tr.ng-scope.tr-odd {
    background: #1a1c23!important;
}


a.ng-binding {
    background: #1a1c23!important;
    color: #ffffffbf!important;
}

a.ng-binding:hover {
    background: #5457629e!important;
}

.input-wrapper {
    color: white;
}

.btn-primary:hover {
    background-color: #6f65dc;
    opacity: 0.8;
}


ul.dropdown-menu.ng-scope {
    background: #1a1c23;
}


.view-lines, .margin-view-overlays {
    background: #1a1c23;
}

.line-numbers {
    color: #f6f8ff9e!important;
}

ul.dropdown-menu {
    background: #1a1c23!important;
}

.dropdown-menu li a, .dropdown-menu .active a {
    background-color: #1a1c23!important;
    color: white!important;
}

li.ng-scope.active.in:hover {
    background-color: #5457629e!important;
}

#modal-editor .dropup a:hover {
    background-color: inherit!important;
}

span.mtk1 {
    color: #ffffffde;
}

tr.context-catcher-tr.ng-scope {
    color: white;
}

thead.mobile-hide {
    background: #1a1c23;
}

span.ng-binding.ng-isolate-scope {
    color: white;
}

#files td.permissions.ng-binding {
    color: white!important;
}


div#files {
    background-color: #1a1c23;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1a1c23;
}

::-webkit-scrollbar-thumb {
  background-color: #6f65dc;
  border-radius: 10px;
  border: 2px solid #1a1c23;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5a4fcf;
}


.mtk14 {
    color: #fb6c6c!important;
}

span.mtk6 {
    color: #8080ff;
}

.mtk10 {
    color: #898989!important;
}

::selection {
    background: #5a4fcf;
    color: white;
}

::moz-selection {
    background: #5a4fcf;
    color: white;
}

select.form-control.ng-valid.ng-touched.ng-not-empty.ng-dirty.ng-valid-parse {
    background-color: #1a1c23;
}
div#session {
    display: none!important;
}


i.fa.fa-home.fa-fw {
    color: white;
}

.property.ng-binding {
    color: white;
}
