
/* themes/filerun/theme.css */
.x-tree-node-el{border-radius:var(--sBr)}.fr-sharing-panel .x-tree.plain-list .x-panel-body{padding-left:0}.fr-sharing-panel #optPane .x-panel-header{padding-left:0;padding-right:0}

.cprt {
	position:fixed !important;
	bottom:0px !important;
	right:0px !important;
	z-index:99999 !important;
	display:flex !important;
	justify-content: center;
	width:100% !important;
	height:auto !important;
	visibility: visible !important;
	pointer-events: none;
}
.cprt a {
	pointer-events: all !important;
	position:relative !important;
	font-weight:bold;
	text-decoration: none;
	visibility: hidden !important;
	font-size:14px !important;
	display:none !important;
	align-items: center;
	border-top-left-radius:var(--mBr);
	border-top-right-radius:var(--mBr);
	padding: 6px 10px;
	box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
		0 8px 10px 1px rgba(0,0,0,.14),
		0 3px 14px 2px rgba(0,0,0,.12);
	user-select: none;
	cursor: pointer;
	background-color: var(--theme-bg-transparent) !important;
	color: var(--theme-text) !important;
	backdrop-filter: blur(10px);
}
.cprt img {
	margin-left:8px;
}
